body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #1c1b1c !important;
	letter-spacing: 0.5px;
  color: white;
  font-size: 1.3vmax;
}

.heading {  
	letter-spacing: 5px;
	font-size: 6.5vmin;
  text-align: center;
  color: #670499;
  text-align: center;
}

.formPad {
  padding: 3px;
}

#summonedHero  {
  text-align: center;

}

#summon {
    min-height: 410px;
}

#summonedHeroText {
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
  color: white;
  table-layout: fixed;
  word-wrap: break-word;
}

td {
  text-align: left;
  color: white;
}
th {
  text-align: left;
  color: white;
}

.buttons {
  text-align: center;
}

.text {
  color: white;
  font-size: 1.5vh;
  padding-right:10px;
  padding-left:10px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-size: 0.8vmax;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #670499;
}
